<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  
  <appSettings>
    <add key="RutaDocumentos" value="C:\Users\DAY-V\source\repos\GenerarPaquetes\Estructura_Completa_PruebasUAT\GenerarPaqUAT" />
    <add key="RutaTFS" value="C:\Users\DAY-V\source\repos\GenerarPaquetes\Estructura_Completa_PruebasUAT\GenerarPaqUAT\UAT" />
	<add key="RutaRunbooks" value="C:\Users\DAY-V\source\repos\GenerarPaquetes\Estructura_Completa_PruebasUAT\GenerarPaqUAT\Runbooks" />  
  </appSettings>
</configuration>